.modal-520{
	width: 96%;
	max-width: 520px;
	min-height: 300px;
	background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.44);
  padding: 0;
	text-align: left;
	color: gray;
  font-family: 'Open Sans', sans-serif;
	display: inline-block;
	vertical-align: middle;
	outline: 0;
	overflow: hidden;
  transform-origin: bottom center;
  animation: fade-in-pulse-08 .3s forwards cubic-bezier(.8,.02,.45,.91);
	margin-top: 1px;
}
.social-form-header, .social-form-footer{
	background-color: #f0f0f0;
	width: 100%;
	min-height: 70px;
	text-align: center;
}
.social-form-footer{
	padding-top: 22px;
	font-size: 16px;
  font-weight: 600
}
.social-form-footer a{
	color: #00ab6b;
}
.social-form-header img{
	width: 120px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.social-form-body{
	padding: 6%;
}
.social-form-text{
	font-size: 17px;
	font-weight: 300;
	letter-spacing: .3px;
}
.social-button-container{
	margin-bottom: 15px;
	margin-top: 15px;
}
.social-btn{
	display: inline-block;
  padding: 8px 20px;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.42857143;
  text-align: left;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 2px;
  width: 100%;
	color: #fff;
	margin-top: 5px;
	margin-bottom: 5px;
}
.social-btn.facebook{
	background-color:  #3b5998;
}
.sub-text{
	font-size: 12px;
	font-weight: lighter;
  color: rgba(255,255,255,.65);
  fill: rgba(255,255,255,.65);
}
.social-btn .fa{
	font-size: 26px;
	margin-right: 14px;
	vertical-align: middle;
}
.social-btn.facebook .fa{
  margin-top: -20px;
}
.social-btn.google{
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.15);
  color: rgba(0,0,0,.6);
  height: 57px;
}
.social-btn.google img{
  width: 25px;
  margin-right: 14px;
  margin-top: -2px;
}
.sign-in-links-container{
	width: 100%;
	text-align: center;
	padding-top: 10px;
}
.sign-in-links-container.green{
	color: #00ab6b;
}
.sign-in-links-container.green a, .social-form-footer.green a{
	color: #00ab6b;
}
.social-form-header .header-title{
	font-size: 20px;
	color: black;
	padding-top: 20px;
}
.label-for{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding: 1px;
}
.unborder-text{
	width: 100%;
  box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.15);
  border-radius: 0;
  font-size: 18px;
  height: 40px;
  overflow: hidden;
  padding: 7px;
  white-space: nowrap;
  font-family: "Open Sans","Helvetica Neue",sans-serif;
  letter-spacing: 0;
  font-weight: 300;
  font-style: normal;
}
.bordered-btn{
	display: inline-block;
  position: relative;
  padding: 0 16px;
  background: rgba(0,0,0,0);
  text-decoration: none;
  cursor: pointer;
  vertical-align: bottom;
  white-space: nowrap;
  text-rendering: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  font-family: "Open Sans","Helvetica Neue",sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  width: 100%;
  height: 58px;
  border-radius: 2px;
  font-size: 16px;
  text-align: center;
  padding-left: 18px;
  border: 1px solid #02b875;
  color: #00ab6b;
}
.filled-btn{
  display: inline-block;
  position: relative;
  padding: 10px;
  background: #1b79bb;
  text-decoration: none;
  cursor: pointer;
  vertical-align: bottom;
  white-space: nowrap;
  text-rendering: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  font-family: "Open Sans","Helvetica Neue",sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  width: 100%;
  border-radius: 2px;
  font-size: 16px;
  text-align: center;
  padding-left: 18px;
  border: 1px solid #1b79bb;
  color: white;
}
.bordered-btn:active, .bordered-btn:focus, .bordered-btn:hover {
  background-color: #FAFAFA;
}
.margin-top-10{
	margin-top: 10px;
}
.error-message{
	margin-top: 6px;
	font-size: 14px;
	color: #d12338;
}
.header-title.signup{
	padding: 10px;
}
.boxclose::before {
  content: "×";
}
.boxclose {
  float: right;
  margin-top: 2px;
  margin-right: 2px;
  cursor: pointer;
  color: #AEAEAE;
  border: none;
  background: transparent;
  font-size: 30px;
  display: inline-block;
  line-height: 0px;
  padding: 9px 4px;
}
.boxclose.big{
  font-size: 40px;
}
.parent-modal-container .boxclose{
  z-index: 50005;
  position: fixed;
  left: 100%;
  margin-left: -46px;
  top: 2px;
}
.boxclose.white{
  color:white;
}
