.search-result-container{
	min-width: 200px;
	position: absolute;
  display: inline-block;
	top: 100%; 
	left: 0; 
  background-color: white; 
  padding: 5px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
	border: 1px solid rgba(0, 0, 0, 0.09);
	border-radius: 3px;
	margin-top: 5px;
	z-index: 9
}
.search-result-container.nav{
  min-width: 400px
}
.search-result-container:after, 
.search-result-container:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.search-result-container:after {
  border-bottom-color: #ffffff;
  border-width: 8px;
  left: 40%;
  margin-left: -8px;
}
.search-result-container:before {
  border-bottom-color: rgba(0, 0, 0, 0.09);
  border-width: 9px;
  left: 40%;
  margin-left: -9px;
}
.result-row{
  display: inline-block;
	width: 100%;
	padding: 7px 10px; 
	color: rgba(0,0,0,.8);
	cursor: pointer;
}
a.result-row{
  border-bottom: solid 1px #dedede;
  padding: 10px 10px; 
}
a.result-row:last-of-type{
  border-bottom: none;
}
.result-row-text{
  max-height: 20px;
  overflow: hidden;
  vertical-align: middle;
  max-width: 92%
}
.result-row.active{
	background-color: #5BB98F;
	color: white;
}

a.result-row.active{
  background-color: #fafafa;
  color: #5BB98F;
}