.popular-tags .title{
  font-size: 20px;
  padding: 10px 2px;
}
.explore-title{
	font-size: 25px;
}
.explore-title, .popular-tags .title, .tag-header{
	font-family: 'Avenir Next LT Pro Demi';
  letter-spacing: 1.2px;
	color: rgba(0,0,0,.8);
}
.tag-header{
	font-size: 14px;
	letter-spacing: 1px;
	padding-top: 5px;
	padding-bottom: 5px;
  color: rgb(135,135,135);
}
.tag-follow, .circle-button.b-green.read-follow {
	margin-left: 15px;
	margin-top: -10px;
	padding: 4px 10px;
}
.explore-menu{
	padding-top: 5px;
	padding-bottom: 5px
}
.explore-menu a{
	text-decoration: none;
  color: rgb(135,135,135);
  margin-right: 30px
}
.explore-menu a:hover, .explore-menu a:active, 
.explore-menu a:visited, .explore-menu a.active{
  color: #5BB98F;
}
.explore-menu a.fa-list, .explore-menu a.fa-th-large{
	color: rgb(185,185,185);
}
.explore-menu .fa-th-large:hover, .explore-menu .fa-th-large:active, 
.explore-menu .fa-th-large:visited, .explore-menu .fa-th-large.active,
.explore-menu .fa-list:hover, .explore-menu .fa-list:active, 
.explore-menu .fa-list:visited, .explore-menu .fa-list.active{
  color: rgba(0,0,0,.8);
}
.explore-menu .right{
	float: right;
}
.explore-menu .fa-plus{
	font-size: 10px;
}
.explore-menu .fa-heart-o{
	font-size: 14px;
	padding-left: 2px
}
.right a{
	margin-right: 0px;
	margin-left: 10px
}
.explore-document{
	margin-left: -12px;
	margin-right: -12px;
	min-height: 320px
}
.loader-container{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(250,250,250, .8);
	z-index: 9
}
.explore-document .book-col{
	margin-left: 0px;
}
.explore-document .loader{
	top: 0px;
	margin-top: 15%;
}