
#footer{
  font-family: 'Avenir Next LT Pro Regular';
  font-size: 13px;
}
.footer-container{
  width: 100%;
}
.footer-links{
	min-width: 100px;
  display: inline-block;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
}
.social-links{
	color: gray;
}
.social-links a{
	padding-left: 5px;
	padding-right: 5px
}
.twitter-link i{
	color: #0084b4;
}
.facebook-link i{
	color: #3b5998;
}
