body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.inline,
.inline li {
    display: inline-block!important;
}

.not-display {
    display: none;
}

.search-control {
    background-color: transparent !important;
    border: none !important;
    width: 200px;
    box-shadow: none !important;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 15px;
    border-radius: 0px !important;
    height: 34px !important;
    font-weight: 300
}

#search-container {
    margin-top: -3px;
}

.circle-button {
    -webkit-border-radius: 27px 27px 27px 27px !important;
    border-radius: 27px 27px 27px 27px !important;
    border: solid 4px #5BB98F;
    background-color: #5BB98F;
    text-align: center;
    vertical-align: middle;
    font-family: "Avenir Next LT Pro Regular" !important;
    color: white !important;
    letter-spacing: 0.5px;
    font-weight: 400 !important;
}

.green-button {
    border: solid 2px #5BB98F;
    background-color: #5BB98F;
    text-align: center;
    vertical-align: middle;
    font-family: "Avenir Next LT Pro Regular" !important;
    color: white !important;
    letter-spacing: 0.5px;
    font-weight: 400 !important;
}

.circle-button.green {
    border: solid 2px #5BB98F;
    background-color: #5BB98F;
    color: white !important;
}

.green-button:link,
.green-button:hover,
.green-button:focus,
.green-button:active,
.circle-button.green:link,
.circle-button.green:hover,
.circle-button.green:active,
.circle-button.green:focus {
    border: solid 2px #5BB98F;
    background-color: #5BB98F!important;
}

.circle-button:link,
.circle-button:hover,
.circle-button:active,
.circle-button:focus {
    -webkit-border-radius: 27px 27px 27px 27px;
    border-radius: 27px 27px 27px 27px;
    border: solid 4px #5BB98F;
    background-color: #5BB98F!important;
}

.circle-button.b-gray,
.circle-button.b-gray:hover,
.circle-button.b-gray:visited,
.circle-button.b-gray:active {
    background-color: transparent !important;
    border-color: gray !important;
    color: gray !important;
    border: 2px solid gray !important;
}

.circle-button.first {
    margin-left: 0px!important
}

.circle-button.second {
    margin-left: 5px
}

.circle-button.thin {
    padding-top: 5px !important;
    padding-bottom: 4px !important;
}

.circle-button.b-green {
    background-color: transparent !important;
    border-color: #5BB98F !important;
    color: #5BB98F !important;
    margin-left: 10px;
    border: 2px solid #5BB98F !important;
}

.no-bg {
    border-color: transparent !important;
    background-image: none !important;
    background-color: transparent !important;
}

.button-search {
    height: 42px !important;
    border: none;
    background-color: white;
    color: gray;
    font-size: 18px;
    padding-top: 5px;
    margin-top: -1px !important;
    margin-left: -5px;
    z-index: 9999 !important;
}

.button-spaced {
    margin-right: 12px
}

.main-nav.navbar-right {
    padding-right: 0px;
    padding-top: 3px;
}

.glyphicon-search.middle {
    top: 5px
}

.no-padding {
    padding: 0!important;
}

.drop-img {
    float: left;
    margin-right: 6px;
    margin-left: -4px;
    max-width: 38px;
}

.menu-subtitle {
    font-size: 11px;
    color: gray;
}

.dropdown-menu {
    min-width: 190px!important;
}

.nav-user,
.nav-user:hover,
.nav-user:active,
.nav-user:focus,
.nav-user:visited {
    background-color: transparent!important;
    border-color: transparent!important;
    border: 0px!important;
    margin-top: -2px;
    text-decoration: none;
    color: gray;
}

.nav-img {
    width: 28px;
    margin-right: 10px;
}

.bell {
    margin-right: -7px;
    margin-left: 4px!important;
    padding-top: 10px
}

.badge.custom.red {
    background-color: red !important;
    position: absolute !important;
    left: 50% !important;
    margin-left: -2px;
    margin-top: -2px;
}

.notification-title {
    width: 100%;
    font-size: 12px;
    color: black;
    font-weight: bold;
    padding-top: 6px;
    padding-left: 15px;
}

.user-notification-menu {
    min-width: 380px!important;
}

.user-notification-link {
    width: 100%;
    text-align: center;
}

.notify-text {
    font-size: 12px;
    padding-left: 10px !important;
    padding-right: 10px !important;
    width: 100%;
    display: inline-block;
}

.notify-text>a {
    color: #337ab7;
}

.caption-title {
    color: #707070;
    font-family: 'Alegreya Sans';
    font-weight: 300;
    margin-bottom: 0px;
    width: 100%;
    overflow: hidden;
    /* font-style: italic; */
    text-overflow: ellipsis;
    max-height: 36px;
    line-height: 1.2;
}

@media (max-width: 765px) {
    .item-page {
        display: none !important;
    }
    .nav-link {
        padding-top: initial!important;
    }
}

@media (max-width: 881px) {
    .item-881 {
        display: none!important;
    }
}

@media (max-width: 950px) {
    .item-950 {
        display: none!important;
    }
}