.divider {
  background-color: #E5E5E1;
  height: 1px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;

}
.notification-row{
  width: 100%;
}
.notification-row .img-circle {
  max-width: 40px !important;
  margin-right: 10px
}
.notification-row .display-text{
  width: 90%;
  display: inline-block;
}
.notification-row i{
  color: rgba(0,0,0, .8);
  padding-right: 5px
}
.user-notification-menu .display-text{
  width: 80%;
  font-size: 13px;
}
.user-notification-menu .not-wrap{
  padding-left: 10px;
  padding-right: 10px;
}
@media(max-width: 560px){
  .notification-row .display-text{
    width: 80%;
  }
}