.fix-nav {
  min-height: 60px;
  background-color: #FAFAFA;
}
.onboarding-container{
	background-color: white;
	font-family: 'Avenir Next LT Pro Regular';
  font-weight: 300;
}
.onboarding-nav-container{
	width: 90%;
  max-width: 800px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}
.font-18{
	font-size: 18px;
}
.arrow-separator{
	color: gray;
	padding-right: 5px;
	padding-left: 5px;
	display: inline-block;
}
.onboarding-user-title{
	font-size: 30px;
	font-weight: 400;
}
.onboarding-user-subtitle{
	font-size: 18px;
	color:gray;
}
.onboarding-forms-container{
	width:90%; 
	max-width: 800px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Alegreya Sans';
  font-weight: 300;
}
.onboarding-user-container .form-container{
	max-width: 300px;
	float: none;
}
.onboarding-tag-container{
	text-align: left;
}
.tag-form-title{
	font-size: 30px;
	font-weight: 400
}
.tag-form-subtitle{
	font-size: 18px;
	color: gray;
}
.label-for{
	float: left;
	font-weight: 400
}
.tag-rows{
	padding:5px;
	width: 100%;
}
.no-padding-right {
  padding-right: 0px!important;
  padding-left: 12px!important;
}
.thumbnail.thumb-tag{
	padding: 0px !important;
	margin-bottom: 10px !important;
	border-radius: 0px !important;
}
.tag-img{
	width: 100%;
}
.tag-img img.active {
    opacity: 0.5;
}
.tag-rows .container-fluid{
	padding-left: 0px!important;
	padding-right: 0px!important;
}
.tag-rows .container-fluid .row{
	padding-right: 12px;
}
.thumbnail:hover{
  opacity: 0.8;
  -webkit-transition: opacity 0.15s;
  -moz-transition: opacity 0.15s;
  -ms-transition: opacity 0.15s;
  -o-transition: opacity 0.15s;
  -webkit-transition: opacity 0.15s;
}
.thumbnail.active {
 	opacity: 0.5;
}
.tag-checkbox{
	position: absolute;
  top: 0;
  left: 100%;
  width: 23px;
  height: 21px;
  margin-left: -24px!important;
  background: transparent url(../img/checkbox.png) no-repeat 0 50%;
}
.thumbnail.active .tag-checkbox{
  background: transparent url(../img/checkbox.png) no-repeat 80% 50%;
}
#categories_save{
	margin-top: -22px;
	width: 150px;
}
.alert.thin{
	padding-bottom: 10px;
	padding-top: 10px;
}
@media (min-width: 768px){
	.col-sm-15 {
    width: 20% !important;
	}
}
@media (max-width: 550px){
	.onboarding-user-title{
		font-size: 25px;
	}
	.onboarding-user-subtitle{
		font-size: 16px;
	}
	.tag-form-title{
		font-size: 25px;
	}
	.tag-form-subtitle{
		font-size: 16px;
	}
}