
@keyframes popUpEffect {
    from { top:100%;}
    to { top:86%}
}
.close-bar{
  background: #5BB98F;
  width: 100%;
  height: 24px;
 
}
.close-bar-button{
  margin-top: 2px;
  margin-right: 8px;
  color: white;
  font-size: 15px;
  text-decoration: none;
   z-index: 50002;
   float: right
}
.close-bar-button:hover{
  margin-top: 2px;
  margin-right: 8px;
  color: #EEEEEE;
  font-size: 15px;
  text-decoration: none;
   z-index: 50002;
   float: right
}
#popUp_container{
  z-index: 50001;
  position: absolute;
  border: 2px #FF0012;
 animation: popUpEffect 0.5s linear 0s;

}
.full-height {
  position: absolute;
  top: 0;
  left: 0;
  right: 128px;
  bottom: 0;
  background: blue;
} 

.inner { position: relative; height: auto; 
}