.ssk {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-left: 5px;
    padding-right: 5px;
}

.ssk-twitter {
    font-size: 16px
}

.ssk-email:before {
    content: "\f003";
    color: #3B5998
}

.ssk-facebook:before {
    content: "\f09a";
    color: #3B5998
}

.ssk-twitter:before {
    content: "\f099";
    color: #00aced
}